.mobile-menu {
    position: fixed;
    height: 100vh;
    background-color: #eaeaea;
    top: 0;
    width: 40%;
    left: -530px;
    transition: left 0.3s ease-in-out;
}

.mobile-menu.open {
    left: 0;
}

.mobile-menu-item-parent {
    list-style: none;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-top: 25%;
    color: #000;
}